#head-pages{
    padding-top: 2%;
    padding-bottom: 2%;
    height: 100%;
    width: 100%;
    min-height: 80vh;
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
    background-color: #087CEE;
    color: #fff;
  }
body.dark #head-pages{
  background-color: #fff;
  color: #087CEE;
}
#titre{
  margin-top: 8%;
  font-family: 'Gilroy_Extrabold';
  font-size: 60px;
}
.lien_projet{
  color: black !important;
  text-transform: none !important;
  letter-spacing: normal !important;
}
.lien_projet:hover{
  color: #087CEE !important;
}
.lien_projet:hover .type_projet{
  color: #b7b7b7;
}
#CTA-Ready{
    background-color: #087CEE;
    color: #fff;
    padding-top: 8%;
    padding-bottom: 8%;
}
#ready{
  font-family: 'Gilroy_Extrabold';
}
.getquote{
  color: #fff !important;
  -webkit-box-shadow: 0px 20px 40px rgb(8 15 45 / 5%);
  box-shadow: 0px 20px 40px rgb(8 15 45 / 5%);
  padding: 20px;
  border-radius: 15px;
}

body.dark #CTA-Ready{
  background-color: #fff;
  color: #087CEE;
}
body.dark .getquote{
  color: #087CEE !important;
}
/*---------------------------------------------------CAREER*/
#offre{
  border-radius: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 40px rgb(8 15 45 / 5%);
  box-shadow: 0px 20px 40px rgb(8 15 45 / 5%);
  padding: 50px;
}
body.dark #offre{
  background: #087CEE;
}
