#section_01{
    margin-top: 10%;
}
.ifc{
    border: 0;
    border-bottom: 1px solid #44558f;
    border-radius: 0%;
    background-color: transparent;
}
.ifc:focus{
    border: 1px solid #44558f;
    background-color: transparent;
    box-shadow: none;
}
.sub_mit{
    color: #f4f4f4;
    border: 1px solid #44558f;
    border-radius: 0%;
    background-color: #44558f;
}